---
import Layout from "../layouts/Layout.astro";
import WeedingDiv from "../components/WeedingDiv.astro";
import Hero from "../components/Hero.astro";
import WeedingEvents from "../components/WeedingEvents.astro";
import Counter from "../components/Counter.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Scarlett & Brandon">
  <main>
    <Hero subtitle="¡Nuestra Boda!" title="Adriana & Brandon" />
    <WeedingDiv
      title="Nuestra Historia"
      haveContent={true}
      body="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea neque odit eos eligendi maxime soluta voluptatibus. Et animi perferendis nisi asperiores magnam ipsam sed, autem voluptas, adipisci deleniti necessitatibus accusantium."
    />
    <Divider />
    <WeedingEvents
      title="Adriana & Brandon"
      subtitle="Acompañanos a celebrar nuestra boda"
      celebration="Se celebrara el dia"
      date="13 | JULIO | 2024"
      start="Comienza a las 9pm"
      location="Pachuca, HGO"
    />
    <Divider />
    <Counter title="¡No te lo pierdas!" />
    <WeedingDiv title="¡Confirma tu asistencia!" haveContent={false} />
    <Footer/>
  </main>
</Layout>

<style>
  main {
    max-width: calc(100% - 2rem);
    color: black;
  }
</style>
