<div class="container-half">
    <hr class="my-hr-line">
</div>

<style>
  .container-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 36px 1rem;
    width: 100%;
  }

  .my-hr-line {
    position: relative;
    width: calc(100% - 0.5rem);
    border: 2px solid #bfa260;
}
</style>
