---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="container">
  <h2>{subtitle}</h2>
  <h1>{title}</h1>
</div>

<style>
  :root { background-attachment: fixed; }
  .container {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url("/images/ba-02-min.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .container h1 {
    font-family: "Playball", cursive;
    font-weight: 400;
    margin-top: 0;
  }
  .container h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
  }
</style>
