---
import LocationButton from "./LocationButton.astro";
import '@fontsource/playball';

interface Props {
  title: string;
  body?: string;
  haveContent: boolean;
}

const { title, body, haveContent } = Astro.props;
---

<div class="container-half">
  <h3>{title}</h3>
  <h2><span>&#10084;</span></h2>
  {
    haveContent ? (
      <p>{body}</p>
    ) : (
      <LocationButton
        href="https://docs.google.com/forms/d/e/1FAIpQLSeO8lQyQRtUEUrVKrBa3bsVqOQYyIF6TiSBwC9RRM5vb2-V7A/viewform"
        type="attendance"
        content="Confirma tu asistencia"
      />
    )
  }
</div>

<style>
  .container-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 120px 1rem;
    width: 100%;
  }
  .container-half h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  h2 span {
    background: #fff;
    padding: 0 10px;
  }
</style>
